pandas
numpy
scipy
tqdm
torch
transformers
einops
sentence-transformers
langchain-text-splitters
langchain-experimental
langchain-huggingface
peft
pinecone
python-dotenv
openai
tenacity
rank-bm25
streamlit
docling
datasets